body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #0f172a;
    color: white;
    text-align: center;
    padding: 20px;
}

.menu {
    background-color: #1e293b;
    padding: 10px;
    text-align: center;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.menu a:hover {
    text-decoration: underline;
}

.contenedor {
    width: 90%;
    max-width: 500px;
    background: white;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario label {
    margin-top: 10px;
    font-weight: bold;
}

.formulario input,
.formulario textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}


button:hover {
    background-color: #1d4ed8;
}
