body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #e0e0e0;
    padding: 20px;
    text-align: center;
}

.intro {
    padding: 20px;
    max-width: 600px;
    margin: auto;
}
.menu {
    background: white;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.menu a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    font-size: 14px;
}

.menu a:hover {
    text-decoration: underline;
}
.proyectos {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

.proyecto {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}
.foto {
    width: 300px;      /* tamaño fijo */
    height: auto;      /* mantiene proporción */
    display: block;
    margin-top: 10px;
}